<h2 mat-dialog-title>{{ 'DOC_FORM.RECORD_NUMBER' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'DOC_FORM.RECORD_NUMBER' | translate }}</mat-label>
      <input matInput formControlName="appNo" maxlength="7" autofocus>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'DOC_FORM.CANCEL_COMMAND' | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">{{ 'DOC_FORM.EXECUTE' | translate }}</button>
</mat-dialog-actions>
