<h2 mat-dialog-title>{{ 'DOC_FORM.OPEN_PERMISSION' | translate }}</h2>
<mat-dialog-content>
  <p class="lock-status">
    {{ (data.isLocked ? 'DOC_FORM.DOC_LOCKED' : 'DOC_FORM.DOC_UNLOCKED') | translate }}
  </p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'DOC_FORM.PASSWORD' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" autofocus>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'DOC_FORM.CANCEL_COMMAND' | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">{{ 'DOC_FORM.EXECUTE' | translate }}</button>
</mat-dialog-actions>
