<h2 mat-dialog-title>
  {{ (isEdit ? 'AUTHORS.EDIT' : 'AUTHORS.ADD_NEW') | translate }}
</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'AUTHORS.AUT_NO' | translate }}</mat-label>
      <input matInput type="number" formControlName="autNo">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'AUTHORS.NAME' | translate }}</mat-label>
      <input matInput formControlName="name" maxlength="100">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'AUTHORS.TYPE' | translate }}</mat-label>
      <input matInput formControlName="type" maxlength="2">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'AUTHORS.SUBJECT_NO' | translate }}</mat-label>
      <input matInput formControlName="subjectNo" maxlength="10">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">{{ 'APP.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid || isSaving">
    {{ 'APP.SAVE' | translate }}
  </button>
</mat-dialog-actions>
